body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0em;
}

.containers
{
  display: flex;
  width:100vw;
}

.container
{
  text-align: center;
  justify-content: center;
  align-items: center;
  background: blue;
  width:100vw;
}

.box {
  padding:0px;
  border: 1px solid #666;
  background-color: #ddd;
  border-radius: .5em;
  padding: 10px;
  cursor: move;
}

.box.over {
  border: 4px dotted #666;
}

[draggable] {
  user-select: none;
}
