@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;

}

section
{
  padding: 20px;
  width: 100%;
  margin: 40px auto;
}

section ul
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

section ul li
{
  list-style: none;
  background: #eee;
  padding: 8px 20px;
  margin: 5px;
  left-spacing: 1px;
  cursor: pointer;
}

section ul li.active
{
  background: #03a9f4;
  color: #fff;
}
.employees
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.employees .employeebox
{
  position: relative;
  width: 175px;
  height: 225px;
  margin: 5px;
}
.employees .employeebox img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}
