body
{
    overscroll-behavior-y: contain;
}
main
{
  width: 70%;
  /*height: 100vh;*/
  margin-inline: auto;
}
.container
{
  background-color: rgba(238, 238,238);
  padding: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.container:nth-child(odd)
{
  background-color: pink;
}

.container:nth-child(even)
{
  background-color: coral;
}

.card
{
  cursor: pointer;
  flex-basis: 150px;
  padding: 0;
  background-color: white;
}
.card>p
{
  display: block;
  font-size: 2em;
  text-align: center;
}
main h2
{
  font-size: 3em;
  text-align: center;
}

container:first-child>.card>h2{color:rgb(0,157,225)}
container:last-child>.card>h2{color:coral}

.dragging
{
  opacity: 0.8;
}
