.bgrect
{
  position: relative;
  top: -6px;
  left: 0px;
  min-height: 34px;
  width: 100%;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  z-index: 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.bgrect:hover
{
  box-shadow: 0 3px 6px rgba(0,0,0,0.5), 0 3px 6px rgba(0,0,0,0.5);
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ages {
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.bgrect:nth-child(odd)
{
  background: #916BBF;
}
.bgrect:nth-child(even)
{
  background: #C996CC;
}

#draggableContainer
{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    box-sizing: border-box;
    width: 100%;
    //border: 2px solid black;
    border-radius: 10px;
    //background-color: rgb(158, 48, 48,0.2);
    z-index: 100;
}
.draggableItem
{
    text-align: center;
    width: 50%;
    height: 20px;
    font-size: 15px;
    border: 2px solid black;
    margin: 5px 15px 5px 5px;
    border-radius: 10px;
    cursor:grab;
    color: white;
    font-weight: 100px;
    background-color: #852747;
    transition: all 0.5s ease;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.draggableItem:hover
{
  box-shadow: 0 3px 6px rgba(0,0,0,0.5), 0 3px 6px rgba(0,0,0,0.5);
}
