.bgrect
{
  position: relative;
  top: -6px;
  left: 0px;
  min-height: 34px;
  width: 100%;
  border: 0.5px solid black;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  z-index: 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-family: "Poppins";
  overflow: hidden;
}
.bgrect:hover
{
  box-shadow: 0 3px 6px rgba(0,0,0,0.5), 0 3px 6px rgba(0,0,0,0.5);
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ages {
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
  //color: white;
}
.bgrect:nth-child(odd)
{
  //background: #916BBF;
  background: #F8A488;
}
.bgrect:nth-child(even)
{
  //background: #C996CC;
  background: #5AA897;
}

#draggableContainer
{

    position: absolute;
    top: 0px;
    left: 0%;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    box-sizing: border-box;
    height: 1165px;
    width: 100%;
    //border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(158, 48, 48, 0.0);
    z-index: 100;

}
.draggableItem
{

    text-align: center;
    width: 50%;
    height: 20px;
    font-size: 15px;
    border: 2px solid black;
    margin: 5px 15px 5px 5px;
    border-radius: 10px;
    cursor:grab;
    color: white;
    font-weight: 100px;
    //background: #852747;
    background: #45526C;
    transition: all 0.5s ease;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-family: "Poppins";
}
.draggableItem:hover
{
  box-shadow: 0 3px 6px rgba(0,0,0,0.5), 0 3px 6px rgba(0,0,0,0.5);
}

.tick
{
  display: inline-block;
  visibility: hidden;
  height: 20px;
  width: 20px;
  margin-bottom:-5px;
  background-image: url(images/check-mark.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
}


/*

.circle{
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 5s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}


.large{
  width: 280px;
  height: 280px;
  left: -110px;
  top: -60px;
}

.xlarge{
  width: 350px;
  height: 350px;
  left: -150px;
  bottom: -90px;
}

.xxlarge{
  width: 450px;
  height: 450px;
  left: -220px;
  bottom: -140px;
}

.shade1{
  opacity: 0.2;
}
.shade2{
  opacity: 0.5;
}

.shade3{
  opacity: 0.7;
}


@keyframes ripple{
  0%{
    transform: scale(0.8);
  }

  50%{
    transform: scale(1.2);
  }

  100%{
    transform: scale(0.8);
  }
}
*/
