.bgrect
{
  position: relative;
  top: -6px;
  left: 0px;
  min-height: 34px;
  width: 100%;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;

  z-index: 1;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ages {
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.bgrect:nth-child(odd)
{
  background: #916BBF;
}
.bgrect:nth-child(even)
{
  background: #C996CC;
}
#background1
{
    top: -6px;
    height: 34px;
}
#background2
{
    height: 34px;
}

#draggableContainer
{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    box-sizing: border-box;
    height: 2688px;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(158, 48, 48,0.2);
    z-index: 2;
}
.draggableItem
{
    text-align: center;
    width: 60%;
    height: 20px;
    font-size: 15px;
    border: 2px solid black;
    margin: 5px 15px 5px 5px;
    border-radius: 10px;
    cursor:grab;
    color: white;
    font-weight: 100px;
    background-color: rgb(10, 73, 141);
    transition: all 0.5s ease;
}
