body
{
 font-family: 'Crimson Pro';
 font-size:10px;
 font-size:20px;
}

.aur
{
  font-size:96px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
}

.h2
{
  font-family: 'Crimson Pro',serif;
  font-size:32px;
  text-align: center;
  font-weight: lighter;
}

.h3
{
  font-family: 'Crimson Pro',serif;
  font-size:22px;
  text-align: center;
  font-weight: lighter;
}

h4
{
  padding-top: 50px;
}

.white
{
  color:white;
}

.scrollspy-example
{
  padding: 0 20;
}
