@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,500');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans',sans-serif;
}

/*body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}*/

body
{
  display: flex;
}

.main
{
  width: 60%;
}

.projects
{
  width: 40%;
}

.filters,.filters_project
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

.filters li
{
  list-style: none;
  background: #eee;
  padding: 8px 20px;
  margin: 5px;
  left-spacing: 1px;
  cursor: pointer;
  border-radius: 10px;
}

.filters_project li
{
  list-style: none;
  background: #eee;
  padding: 5px 5px;
  margin: 5px;
  left-spacing: 1px;
  cursor: pointer;
  border-radius: 8px;
}

.filters li.active
{
  background: #03a9f4;
  color: #fff;
}

.filters_project li.active
{
  background: #03a9f4;
  color: #fff;
}


.container
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.divider
{
  width: 1px;
  background: black;
}

.tab_head
{
  text-align: center;
  padding: 8px;
}

.project_container
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project_container .cards
{
  position: relative;
  display: flex;
  width: 175px;
  height: 225px;
  background: linear-gradient(#2196f3,#2196f3 20%,#1d3548 20%,#1d3548);
  color:white;
  margin: 10px;
  border: 1px solid black;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.project
{
  width:175px;
  text-align: center;
}

.project h2
{
  padding-top: 15px;
}

.project h1
{
  padding-top: 15px;
  font-size: 5em;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .7s ease;
  z-index: 1000;
}

.overlay:hover
{
  opacity: 1;
  /* Black background with 80% color opacity */
  background-color: rgba(245, 245, 245, 0.95);
  border: 2px dashed  black;
  border-radius: 15px;
}

.overlay_content
{
  padding: 10%;
  color:black;
  text-align: center;
}

.overlay_content .icon
{
  padding: 20px;
  background: #2196f3;
  border-radius: 15px;
  color:white;
}

.overlay_content .icon:hover
{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.cards:hover
{
  box-shadow: 0 10px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.container .cards:hover
{
  box-shadow: 0 10px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.container .cards
{
  position: relative;
  width: 175px;
  height: 225px;
  background: linear-gradient(#2196f3,#2196f3 30%,#1d3548 30%,#1d3548);
  margin: 10px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.container .cards .ImageBox
{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 0;
  transform-origin: top;
}

.container .cards .award
{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 2;
  transform-origin: top;
  background: white;
}


.container .cards:hover .ImageBox
{
  transform: translateY(12px) scale(0.42);
  border-radius: 15px;
  overflow: hidden;
}

.container .cards .ImageBox img
{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.container .cards .content
{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
  transform: translateY(100%);
  transition: 0.5s;
}

.container .cards:hover .content
{
  transform: translateY(18px);
}

.container .cards .content .details
{
  display: flex;
  justify-content:
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.container .cards .content .details h2
{
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  padding: 5px;
}

h2 span
{
  font-size: 0.8em;
  font-weight: 400;
  color: white;
  padding: 5px;
}

.social_icons
{
  position: relative;
  display: flex;
  padding-top: 8px;
  align-items: center;
  justify-content: center;
}

.social_icons li
{
  list-style: none;
  margin: 4px;
}

.social_icons li a
{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #294d69;
  border-radius: 50%;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}

.social_icons li a:hover
{
  transform: rotate(15deg);
  background: #03a9f4;
}

.pill
{
  background: #03a9f4;
  color: white;
  padding: 5px;
  border-radius: 4px;
}
