@import url("https://fonts.googleapis.com/css?family=Poppins:400,300,700");
h1{
  font-family: 'Poppins';
  font-size: 22;
  font-weight: bold;
  border-bottom: 1px solid black;
}

@media screen and (min-width: 576px) {
.big-padding-top-bottom {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

@media screen and (min-width: 576px) {
.big-bottom-line {
    border-bottom: 3px solid black;
  }
}

@media screen and (min-width: 576px) {
.big-border-right {
    border-right: 2px solid black;
  }
}

@media screen and (min-width: 576px) {
.big-seperator {
    border-bottom: 2px solid black;
    padding-top: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
.xs-border-bottom {
    padding-bottom: 1.5rem;
    border-bottom: 2px solid black;
  }
}

@media screen and (max-width: 576px) {
.xs-padding-top {
    padding-top: 1.5rem;
  }
}

.right-placeholder{
  text-align: right;
}

h6credits{
  font-family: 'Poppins';
  font-size: 10px;
}
